/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.parent-schedule {
  padding: 10vh 3vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    display: none;
  }
}
.parent-schedule::before {
  height: 100%;
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -97;
  background-size: contain;
  background-image: url("public/images/GIF by Craigson.gif");
}

.parent-schedule::after {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -99;
  opacity: 0.1;
}
.schedule-title {
  font-size: 45px;
  color: white;
  margin-left: 6vw;
  font-family: "russo one";
  letter-spacing: 2px;
  font-weight: 900;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}
.schedule-title::after {
  content: "";
  z-index: -1;
  border-bottom: 4px solid #d500ed;
  -o-border-image: -o-linear-gradient(
    left bottom,
    #ffda00,
    #ffaa17,
    #ff7545,
    #ff3c6f,
    #ff0099,
    #ed00ae,
    #d100c4,
    #aa0ada,
    #9700e1,
    #7f00e7,
    #5e00ef,
    #1b0cf6
  );
     border-image: -webkit-gradient(
    linear,
    left bottom, right top,
    from(#ffda00),
    color-stop(#ffaa17),
    color-stop(#ff7545),
    color-stop(#ff3c6f),
    color-stop(#ff0099),
    color-stop(#ed00ae),
    color-stop(#d100c4),
    color-stop(#aa0ada),
    color-stop(#9700e1),
    color-stop(#7f00e7),
    color-stop(#5e00ef),
    to(#1b0cf6)
  );
     border-image: linear-gradient(
    to right top,
    #ffda00,
    #ffaa17,
    #ff7545,
    #ff3c6f,
    #ff0099,
    #ed00ae,
    #d100c4,
    #aa0ada,
    #9700e1,
    #7f00e7,
    #5e00ef,
    #1b0cf6
  );
  border-image-slice: 1;
  width: 35vw;
}
.schedule-title img {
  position: absolute;
  top: 10vh;
  left: 3vw;
  z-index: -1;
  width: 60px;
}
.timeline {
  position: relative;
  padding: 0vh 7vw;
}

.timeline::after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 1vh;
  left: 50%;
  border-left: 2px solid slateblue;
  height: 0vh;
}

.timelineAnimation::after {
  -webkit-animation: timelineLine 5s linear forwards;
          animation: timelineLine 5s linear forwards;
}
@-webkit-keyframes timelineLine {
  0% {
    height: 0vh;
  }
  100% {
    height: 100%;
  }
}
@keyframes timelineLine {
  0% {
    height: 0vh;
  }
  100% {
    height: 100%;
  }
}
.container {
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vh;
  width: 45%;
  clear: both;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3vh 1.5vw;
  border: 1px solid slateblue;
  border-radius: 1vw;
  -webkit-box-shadow: 1vw 1vw 1vw 0vw black;
          box-shadow: 1vw 1vw 1vw 0vw black;
  margin-bottom: 3vh;
  opacity: 0;
}

.timelineAnimationContainer {
  -webkit-animation: timelineFade 0.5s linear forwards;
          animation: timelineFade 0.5s linear forwards;
}
@-webkit-keyframes timelineFade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}
@keyframes timelineFade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.container:nth-child(1),
.container-mobile:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.container:nth-child(2),
.container-mobile:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.container:nth-child(3),
.container-mobile:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.container:nth-child(4),
.container-mobile:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.container:nth-child(5),
.container-mobile:nth-child(5) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.container:nth-child(6),
.container-mobile:nth-child(6) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.container:nth-child(even) {
  left: 43.2vw;
}
.container .date {
  font-family: Audiowide;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(91, 14, 216, 0.767)),
    to(rgba(238, 12, 200, 0.747))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.container .date > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5vw;
  font-family: inherit;
}

.container .date > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
}

.container .date > div > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 0.7vw;
  text-transform: lowercase;
  font-family: inherit;
}

.container-title {
  text-align: center;
  position: relative;
  padding: 0.5vh 1vw;
  border: 1px solid slateblue;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1vw;
  color: rgb(200, 255, 242);
  font-weight: 700;
  text-transform: uppercase;
  font-family: Audiowide;
  letter-spacing: 2px;
  font-size: 1.2vw;
  overflow: hidden;
  isolation: isolate;
}
.container-title::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(91, 14, 216, 0.767)),
    to(rgba(238, 12, 200, 0.747))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.container-description {
  text-align: justify;
  font-size: 1.1vw;
}
.circle {
  position: absolute;
  background-color: rgb(220, 0, 240, 0.4);
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  top: 0;
}

.circle::after {
  content: " ";
  padding: 0.5vw;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timeline div:nth-child(odd) .circle {
  right: 0;
  -webkit-transform: translateX(4.9vw);
      -ms-transform: translateX(4.9vw);
          transform: translateX(4.9vw);
}

.timeline div:nth-child(even) .circle {
  left: 0;
  -webkit-transform: translateX(-4.7vw);
      -ms-transform: translateX(-4.7vw);
          transform: translateX(-4.7vw);
}

.parent-schedule-mobile {
  position: relative;
  padding: 5vh 0vw;
  display: none;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    display: block;
  }
}
.parent-schedule-mobile::before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: -97;
  background-size: contain;
  color: white;
  background-image: url("public/images/GIF by Craigson.gif");
}
.schedule-title-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-family: "russo one";
  font-weight: 800;
  margin-left: 15vw;
}

.schedule-title-mobile::after {
  content: "";
  z-index: -1;
  border-bottom: 4px solid #d500ed;
  -o-border-image: -o-linear-gradient(
    left bottom,
    #ffda00,
    #ffaa17,
    #ff7545,
    #ff3c6f,
    #ff0099,
    #ed00ae,
    #d100c4,
    #aa0ada,
    #9700e1,
    #7f00e7,
    #5e00ef,
    #1b0cf6
  );
     border-image: -webkit-gradient(
    linear,
    left bottom, right top,
    from(#ffda00),
    color-stop(#ffaa17),
    color-stop(#ff7545),
    color-stop(#ff3c6f),
    color-stop(#ff0099),
    color-stop(#ed00ae),
    color-stop(#d100c4),
    color-stop(#aa0ada),
    color-stop(#9700e1),
    color-stop(#7f00e7),
    color-stop(#5e00ef),
    to(#1b0cf6)
  );
     border-image: linear-gradient(
    to right top,
    #ffda00,
    #ffaa17,
    #ff7545,
    #ff3c6f,
    #ff0099,
    #ed00ae,
    #d100c4,
    #aa0ada,
    #9700e1,
    #7f00e7,
    #5e00ef,
    #1b0cf6
  );
  border-image-slice: 1;
  width: 30vw;
  margin-left: 2vw;
}

.schedule-title-mobile img {
  position: absolute;
  width: 55px;
  left: 1vw;
  top: 5vh;
}
.timeline-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vh;
}
.timeline-mobile::after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 5vw;
  border-left: 2px solid slateblue;
  height: 0vh;
}

.container-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1vh;
  max-width: 80%;
  padding: 2vh 2vw;
  border: 1px solid slateblue;
  border-radius: 1vw;
  -webkit-box-shadow: 1vw 1vw 3vw 0vw black;
          box-shadow: 1vw 1vw 3vw 0vw black;
  position: relative;
  opacity: 0;
}
.container-mobile p {
  color: white;
  position: relative;
  padding-top: 2vh;
  font-size: 3vw;
  text-align: justify;
}
.date-mobile {
  font-size: 5vw;
  font-family: Audiowide;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(91, 14, 216, 0.767)),
    to(rgba(238, 12, 200, 0.747))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.container-mobile .date-mobile > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  font-family: inherit;
}

.container-mobile .date-mobile > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
}

.container-mobile .date-mobile > div > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2.5vw;
  text-transform: lowercase;
  font-family: inherit;
}

.container-title-mobile {
  font-size: 3.5vw;
  position: relative;
  padding: 0.5vh 2vw;
  font-family: Audiowide;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container-title-mobile::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 2vw;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(rgba(91, 14, 216, 0.767)),
    to(rgba(238, 12, 200, 0.747))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
  background-image: linear-gradient(
    to right,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.circle-mobile {
  position: absolute;
  background-color: rgb(220, 0, 240, 0.4);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  left: -8vw;
  top: 0;
}

.circle-mobile::after {
  content: " ";
  padding: 1.5vw;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}